/*用户-公用-菜单链接*/
.imgLink-list li .link-img{
  background-image: url(../assets/account/imgLink.png);
}

.shadow-box-refresh {
  background: url(../assets/common/refresh.png) no-repeat;
  width: 14px;
  height: 14px;
  text-indent: -999em;
  position: absolute;
  top: 10px;
  right: 50px;
}
.shadow-box-close {
  background: url(../assets/common/close.png) no-repeat center center;
  width: 14px;
  height: 14px;
  text-indent: -999em;
  position: absolute;
  top: 10px;
  right: 20px;
}


.ico-bank{
  display:inline-block;
  width:126px;
  height:36px;
  vertical-align:middle;
  background-image:url(../assets/common/ui-bank.png);
  background-repeat:no-repeat;
  cursor:pointer;
}
